<h1>Create Post</h1>

{{#each errors}}
<div class="alert alert-danger">
    {{message}}
</div>
{{/each}}

<form action="/admin/products/create" method="post" enctype="multipart/form-data">
    <!-- -->
    <div class="form-group">
        <label for="title">Title</label>
        <input required name="title" type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input required name="price" type="text" class="form-control" id="price" placeholder="Enter price">
    </div>
        <div class="form-group">
            <label for="imgUrl">Image URL</label>
            <input required name="imgUrl" type="text" class="form-control" id="imgUrl" placeholder="Enter url">
        </div>
    <div class="form-group">
        <label for="file">File Upload</label>
        <input type="file" name="file" class="form-control">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control" id="category">
            {{#each categories}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-check">
        <label for="onSale" class="form-check-label">
            <input name="onSale" type="checkbox" class="form-check-input" id="onSale">
            On Sale
        </label>
    </div>
    <div class="form-check">
        <label for="featured" class="form-check-label">
            <input name="featured" type="checkbox" class="form-check-input" id="featured">
            Featured
        </label>
    </div>
    <div class="form-check">
        <label for="outOfStock" class="form-check-label">
            <input name="outOfStock" type="checkbox" class="form-check-input" id="outOfStock">
            Out of stock
        </label>
    </div>
    <div class="form-check">
        <label for="allowComments" class="form-check-label">
            <input name="allowComments" type="checkbox" class="form-check-input" id="allowComments">
            allowComments
        </label>
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea required name="body" cols="30" rows="10" class="form-control" id="body" placeholder="Enter a description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>