<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="/admin">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Post">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Post</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapsePosts">
            <li>
                <a href="/admin/products">All Product Posts</a>
            </li>
            <li>
                <a href="/admin/products/my-products">My Product Posts</a>
            </li>
            <li>
                <a href="/admin/products/create">Create Product Post</a>
            </li>
        </ul>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="BlogPost">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseBlogPosts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Blog Post</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseBlogPosts">
            <li>
                <a href="/blog/posts">All Blog Posts</a>
            </li>
            <li>
                <a href="/blog/posts/create">Create Blog Post</a>
            </li>
        </ul>
    </li>

    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/categories">
            {{!-- <i class="fa fa-fw fa-gear"></i> --}}
            <span class="nav-link">Categories</span>
        </a>
    </li>

    <li class="nav-item" data-toogle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/comments">
            {{!-- <i class="fa fa-fw fa-gear"></i> --}}
            <span class="nav-link">Comments</span>
        </a>
    </li>


</ul>